img.one {
 border-style: solid;
 border-width: medium;
 display: block;
 margin-left: auto;
 margin-right: auto;
 }

 img.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  width: 30%;
  }

 .center {
     margin: auto;
     width: 30%;
     border: 3px;
     padding: 1px;
     text-align: center;
     color: white;
     background-color: black;
 }

 .begin {
  border: 3px;
  font: bold Grey;
  text-align: center;
 }

 .begin a:hover {
  border: 3px solid SlateBlue;
  font: bold Grey;
  text-align: center;
}
